*{
margin: 0;
padding: 0;
font-family:sans-serif;
outline: none;
}
body {
background-color: bisque;
}
.header {
width:100%;
display:flex;
justify-content:space-between;
align-items: center;
background-color: blue;
padding:30px;


}
.novatardefa{

}
.container{
   display:flex;
}7
.cotainer .colona{
width:300px;
height:680px;
background-color: blue;
}
